apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: devops-ingress
  namespace: <NAMESPACE>
  annotations:
    # cert-manager.io/cluster-issuer: "<LETSENCRYPT_ISSUER>" // Example: letsencrypt-prod o letsencrypt-staging de acuerdo a Variable steada en GitHub de acuerdo al environment.
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - <HOST>
      secretName: devops-tls
  rules:
    - host: <HOST>
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: devops-service
                port:
                  number: 80
